<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Page</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>FIT2095 Operations</h1>
    <table>
        <thead>
            <th>Operation</th>
            <th>URL Example</th>
        </thead>
        <tbody>
            <tr>
                <td>Addition</td>
                <td>http://localhost:8080/add/4/2</td>
            </tr>
            <tr>
                <td>Subtraction</td>
                <td>http://localhost:8080/sub?x=5&y=3</td>
            </tr>
        </tbody>
    </table>
</body>

</html>